.cache-purge-btn {
  background: url(cache_purger.png) 0 0 no-repeat;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: -10px;
  width: 16px;
  height: 16px;
  z-index: 1000;
  -webkit-transform: scale(1) rotate(16.768rad);
  -moz-transform: scale(1) rotate(16.768rad);
}
